/* INDUSTRY PAGES */
.industry-nav{
    position: fixed;
}
.hm-agriculture-industry-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 3px solid #857c7c;
    margin-bottom: 3rem;
    margin-top: auto;
}
.hm-agriculture-industry__banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    height:  clamp(300px,50vh,100vh);
    border: 1px solid #857c7c;
}
.hm-agriculture-industry__banner-image{
    height: auto;
    width: 100%;
    background: #fff;
    color: green;
}
.hm-agriculture-industry__banner-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hm-agriculture-industry__content{
    padding: 5rem 5rem 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hm-agriculture-industry__content-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.hm-agriculture-industry__content-intro-image{
    height: 300px;
    width: 90%;
    margin: 2rem;
    background: #e9e6e6;
}
.hm-agriculture-industry__themes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    height: 100vh;
}
.hm-agriculture-industry__themes-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
}
.hm-agriculture-industry__themes-content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    margin-right: 1rem;
    background: #e9e6e6;
}
