.mb-industries-list,
.mb-services-list,
.mb-featured-insights-list,
.mb-about-us-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    margin-top: 3.8rem;
    width: 100%;
    left: 0;
}
.mb-industries-list ul,
.mb-services-list ul,
.mb-featured-insights-list ul,
.mb-about-us-list ul {
    padding: 0 0 1rem 5rem;
    display: flex;
    flex-direction: column;
}
.mb-industries-list ul li,
.mb-services-list ul li,
.mb-featured-insights-list ul li,
.mb-about-us-list ul li {
    padding: 0.5rem 0;
}
.mb-about-us-sections,
#mobile-sections{
    display: flex;
    flex-direction: column;
}
#overview{
    display: flex;
    justify-content: right;
}
#overview p{
    margin: .2rem 1rem;
}
#overview p a{
    color: black;
}
#overview p svg{
    margin: 10px 0 0 10px;
}