.overview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #e9e6e6;
    padding: 0 20px;
}
.overview-videotext{
    margin-top: auto;
    padding: 5rem;
    width: 50%;
}
.overview-videotext h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.overview-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 10rem;
    width: 90%;
}
.overview-wwa__content,
.overview-wwa__content2{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.overview-wwa__content2{
    flex-direction: row-reverse;
}
.overview-wwa__content-text{
    padding: 5rem;
    background-color: #e9e6e6;
    height: 100%;
}
.overview-wwa__content-img{
    width: 100%;
    height: 100%;
}
.overview-wwa__details{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 10rem;
}
.wwa-detail{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #e9e6e6;
    margin-right: 10px;
}
.wwa-detail h4{
    padding-bottom: 1rem;
}
.wwa-detail p{
    line-height: 2rem;
    padding-bottom: 1rem;
}
.wwa-detail__button a:hover{
    color: var(--color-link);
    cursor: pointer;
}
.wwa-detail__button a .arrow{
    width: 10px;
    margin-top: auto;
    padding-left: 1rem;
    transition: padding .4s ease-in-out;
}
.wwa-detail__button a:hover .arrow{
    padding-left: 2.5rem;
}
.wwa-detail__button a .arrow img{
    width: 30px;
}

.case-study{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
    border: 1px solid black;
}
.case-study-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    height: 100%;
}
.case-study-content__detail{
    display: flex;
    flex-direction: column;
    background-color: #e9e6e6;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.case-study-image{
    width: 90%;
    height: 200px;
    overflow: hidden;
    background-color: #514d4d;
}
.case-study-text{
    width: 90%;
    padding: 1rem 0;
}
.case-study-text h4{
    padding-bottom: 2rem;
}
.case-study button{
    padding: 1rem;
    border: 1px solid red;
    margin: 1rem 0;
}
.explore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
    border: 1px solid rgb(104, 98, 98);
}

/* BLOG PAGE */
.blog-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10rem;
}
.blog-intro{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 1rem 0;
}
.blog-intro .arrow img,
.mission-content .arrow img{    
    padding-right: 1rem;
}
.blog-intro a,
.mission-content a{
    font-size: 16px;
}
.blog-intro .arrow:hover,
.mission-content .arrow:hover{
    color: var(--color-link);
    cursor: pointer;
}
.blog-intro h2{
    padding-top: 2rem;
}
.blog-intro p{
    padding-top: 1rem;
}
.blog-cta-social-links{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding: .8rem 0;
}
.blog-cta-social-links li{
    padding-right: .5rem;
}
.browse-blog{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(91, 87, 87);
    width: 100%;
}
.browse-blog-options{
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
.browse-blog-options span{
    color: var(--color-bg);
}
.browse-blog-options span:hover{
    color: var(--color-link);
}
.blog-details{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2rem 10rem;
    background-color: #e9e6e6;
}


/* OUR GOVERNANCE */
.hm-governance-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #514d4d;
}
.hm-governance-title{
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #514d4d;
}
.hm-gov-image01{
    width: 50%;
    height: 500px;
    background: #857c7c;
}
.hm-governance-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    background-color: #f7eded;
}
.hm-gov-content02{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    background: #ffffff;
}
.hm-gov-sub-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    border: 1px solid #857c7c63;
}
.hm-gov-sub-content-image01{
    width: 50%;
    height: 300px;
    background: #857c7c;
}
.hm-gov-sub-content-text{
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 2rem;
}
.hm-gov-content03,
.hm-gov-content05{
    display: grid;
    grid-template-columns: auto auto;
    width: 65%;
    background: #ffffff;
    margin: 1.5rem 2rem;
}
.hm-gov-sub-content2{
    display: grid;
    grid-template-columns: auto;
    border: 1px solid #857c7c63;
}
.hm-gov-sub-content2:nth-child(1){
    margin-right: 2rem;
}
.hm-gov-sub-content-image02{
    width: 100%;
    height: 300px;
    background: #857c7c;
    margin-bottom: 1rem;
}

.hm-gov-content04{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    background: #ded9d9;
}
.hm-gov-content05-intro{
    background: #ffffff;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hm-gov-content06{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #ffffff;
}
.hm-gov-content06-info{
    padding: 1rem 0;
}
.hm-gov-sub-content3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem;
    width: 70%;
}
.hm-gov-sub-content-details{
    display: flex;
    flex-direction: column;
    border: 1px solid #857c7c63;
    margin-right: 2rem;
}
.hm-gov-sub-content-detail-image{
    width: 100%;
    height: 200px;
    background: #857c7c;
    margin-bottom: 2rem;
}
.hm-governance-more-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    padding: 1rem 0;
}
.hm-governance-more-info h4{
    padding: 2rem 0;
}
.hm-governance-more-info-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.hm-governance-more-info-details{
    display: flex;
    flex-direction: column;
    border: 1px solid #857c7c63;
    margin-right: 2rem;
    padding: 1rem;
}
.hm-governance-more-info-image{
    width: 100%;
    height: 200px;
    background: #857c7c;
    margin-bottom: 2rem;
}

/* MISSIONS PAGE */
.mission-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid #514d4d;
}
.mission-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
    margin-right: 5rem;
}
.mission-content-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 0;
    max-width: 700px;
}
.mission-content-intro h4{
    padding: 1rem 0;
}
.mission-content-intro ul{
    padding: .5rem 0 .5rem 3rem;
}
.mission-content-intro ul li{
    padding: 5px;
    list-style-type: disc;
}
.mission-other-content{
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 300px;
    margin-left: 2rem;
    padding: 1rem 0;
    border-top: 1px solid #2d2c2c;
}
.mission-other-content h4{
    padding-bottom: 1rem;
}
.mission-other-content-image{
    width: 100%;
    height: 100px;
    background: #e9e6e6;
}
.mission-other-content-text{
    padding: 1rem 0;
}
.mission-other-content-text p{
    padding: 1rem 0;
}
.mission-other-content-text img{
    width: 3rem;
    padding-left: 1rem;
}
.mission-other-content-text a:hover{
    cursor: pointer;
    color: var(--color-link);
}


/* CONTACT US PAGE */
#title h2{
    text-align: center;
    padding-top: 6rem;
    font-size: 56px;
}
.contact-us-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 10rem;
    border-bottom: 1px solid #514d4d;
}
.contact-us-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 5rem;
    max-width: 900px;
}
.contact-us-details h3{
    padding: 3rem 0;
    margin: 0;
    border: none;
    width: 100%;
}
.hm-contact-form{
   width: 100%;
}
textarea{
    width: 95%;
    height: 150px;
    border: 1px solid #181616;
    font-size: 16px;
    margin: 10px 0;
    padding: 12px 20px;
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s ease-in-out;
    resize: none;
}
.contact-us-other-details{
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 20%;
    margin-left: 3rem;
    padding: 1rem 2rem 0;
}
.contact-us-other-content{
    padding: 3rem 0;
    border-top: 1px solid black;
}
.contact-us-other-content h4{
    padding-bottom: 1rem;
}
form .contact-submit-btn{
    width: 5rem;
    padding: 1rem;
    border: 1px solid red;
    margin: 1rem 0;
}
form .contact-us-questions{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}
form .contact-us-question-options{
    display: flex;
    padding: 1rem 0;
}
form .contact-us-question-option{
    margin-right: 2rem;
}
form .contact-us-question-option input{
    width: 1.5rem;
    border: 1px solid #181616;
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s ease-in-out;
}
form .contact-us-question-options label{
    padding-left: 1rem;
}


/* SERVICES PAGE */
.services-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #514d4d;
}
.services-title{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #807b7b;
    padding: 0;
}
.services-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 10rem;
}
.service-options-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    width: 100%;
}
.service-options-container:nth-child(2),
.service-options-container:nth-child(4),
.service-options-container:nth-child(6){
    flex-direction: row-reverse;
}
.service-option__image{
    width: 50%;
    height: 300px;
    background: #e9e6e6;
}
.service-option__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 5rem;
    width: 50%;
}
.service-option__content h3{
    padding: 1rem 0;
    border: none;
}
.service-option__content p{
    padding-bottom: 1rem;
}
.service-option__content button{
    padding: 1rem;
    background: #807b7b;
    margin: 1rem 0;
}

/* MANAGEMENT SERVICES PAGE */
.management-container,
.education-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #514d4d;
}
.hm-management-title,
.hm-education-title{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #807b7b;
}
.hm-management-intro,
.hm-education-intro{
    margin: 2rem 0;
}
.hm-management-intro__image,
.hm-education-intro__image{
    width: 100%;
    height: 300px;
    background: #e9e6e6;
}
.hm-management-intro__text,
.hm-education-intro__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 3rem;
    width: 80%;
}
.hm-management-intro__text h4,
.hm-education-intro__text h4{
    padding: 1rem 0;
}
.hm-management-intro__text button,
.hm-education-intro__text button{
    padding: 1rem;
    background: #807b7b;
    margin: 1rem 0;
    align-items: center;
}
.hm-management-content,
.hm-education-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.hm-management-options-container,
.hm-education-options-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}
.hm-management-options-container:nth-child(2),
.hm-education-options-container:nth-child(2){
    flex-direction: row-reverse;
}
.hm-management-option__image,
.hm-education-option__image{
    width: 50%;
    height: 300px;
    background: #e9e6e6;
}
.hm-management-option__content,
.hm-education-option__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 5rem;
    width: 50%;
}
.hm-management-option__content h3,
.hm-education-option__content h3{
    padding: 1rem 0;
    border: none;
}
.hm-management-option__content p,
.hm-education-option__content p{
    padding-bottom: 1rem;
}
.hm-management-footer,
.hm-education-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}
.hm-management-footer h3,
.hm-education-footer h3,
.hm-management-footer p,
.hm-education-footer p{
    text-align: center;
    padding: 1rem 0;
    width: 90%;
}

/* MEDIA PAGE */
.hm-media-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #857c7c;
    padding-bottom: 3rem;
}
.hm-media-title{
    height: 400px;
    width: 100%;
    text-align: center;
    border: 1px solid #514d4d;
}
.hm-media-intro{
    padding: 2rem 5rem;
    background: #efe0e083;
    width: 100%;
}
.hm-media-intro__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    margin: 1rem 0;
}

.hm-media-intro__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}
.hm-media-intro__content-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 1rem;
    margin-top: 1.2rem;
    width: 50%;
}
.hm-media-intro__content-title h2{
    font-size: 24px;
}
.hm-media-intro__content-image{
    width: 95%;
    height: 500px;
    background: #ffffff;
    border: 1px solid #514d4d;
}
.hm-media-intro__content-text{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.hm-media-intro__content-text .image-details{
    width: 45%;
    height: 300px;
    margin: .5rem;
    background: #ffffff;
    border: 1px solid #514d4d;
}
.hm-media-intro__other-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.hm-media-intro__content h4,
.hm-media-intro__other-content h4{
    padding: .5rem 0;
}

.hm-media-intro__other-content{
    padding: 2rem 5rem;
    background: #efe0e08f;
}
.hm-media-intro__other-content-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.details{
    margin-right: 1rem;
    background: #dedada8c;
}
.details h2{
    font-size: 24px;
}
.details h2,
.details p{
    padding: .5rem 1rem;
}
.hm-media-content-image{
    height: 200px;
    background: #ffffff;
    margin-bottom: 1rem;
    border: 1px solid #514d4d;
}

/* INDUSTRY PAGES */
.industry-nav{
    position: fixed;
}
.hm-agriculture-industry-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 3px solid #857c7c;
    margin-bottom: 3rem;
    margin-top: auto;
}
.hm-agriculture-industry__banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    height: 100vh;
    border: 1px solid #857c7c;
}
.hm-agriculture-industry__content{
    padding: 5rem 5rem 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hm-agriculture-industry__content-intro{
    height: 50vh;
}
.hm-agriculture-industry__content-intro-image{
    height: 300px;
    width: 90%;
    margin: 2rem;
    background: #e9e6e6;
}
.hm-agriculture-industry__themes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    height: 100vh;
}
.hm-agriculture-industry__themes-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
}
.hm-agriculture-industry__themes-content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    margin-right: 1rem;
    background: #e9e6e6;
}




/* MEDIA QUERIES */
@media screen and (max-width: 1440px){
    .service-options-container{
        padding: 2rem;
    }
    .hm-governance-content{
        padding: 5rem 2rem;
    }
    
    .hm-gov-content03,
    .hm-gov-content05{
        width: 100%;
    }
}

@media screen and (max-width: 1084px){
    .overview{
        height: auto;
    }
    .overview-videotext{
        padding-top: auto;
    }
    .overview-videotext h2{
        font-size: 36px;
    }
    .overview-intro{
        padding: 5rem 5rem;
    }
    .overview-intro h3{
        padding-bottom: 1rem;
    }
    .overview-wwa__content,
    .overview-wwa__content2{
        flex-direction: column-reverse;
    }
    .overview-wwa__content-text{
        padding: 4rem;
    }
    .overview-wwa__content-img{
        height: 200px;
    }
    .overview-wwa__details{
        padding: 4rem 5rem;
        flex-direction: column;
    }
    .wwa-detail{
        margin-bottom: 1rem;
    }
    .case-study{
        padding: 0 5rem;
    }
    .case-study-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .case-study-content__detail{
        margin: 0;
        margin-bottom: 1rem;
    }
    .case-study-image{
        width: 100%;
        height: 200px;
    }
    .explore{
        padding: 0 5rem;
    }
    .blog-container{
        padding: 0 5rem;
        width: 100%;
    }
    .blog-details{
        display: flex;
        flex-direction: column;
        padding: 2rem 5rem;
    }
    .mission-content{
        padding: 1rem 0;
    }
    .mission-container{
        padding: 2rem 5rem;
    }
    .contact-us-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0;
    }
    .contact-us-details,
    .contact-us-other-details{
        margin: 0;
        width: 90%;
    }
    .services-content{
        display: flex;
        padding: 1rem;
    }
    .service-options-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0;
    }
    .service-options-container:nth-child(2),
    .service-options-container:nth-child(4),
    .service-options-container:nth-child(6){
        flex-direction: column;
    }
    .service-options-container,
    .service-option__content,
    .service-option__image{
        width: 90%;
    }
    .hm-media-intro__content-text{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .details{
        margin-bottom: 2rem;
    }
    .hm-agriculture-industry__themes-content{
        flex-direction: column;
    }
    .hm-agriculture-industry__themes-content-text{
        margin: 1rem 0;
        width: 90%;
    }
    .hm-media-intro__content,
    .hm-media-intro__content-title,
    .hm-media-intro__content-text,
    .hm-media-intro__content-text .image-details,
    .hm-media-intro__other-content-text{
        flex-direction: column;
        width: 100%;
    }
    
    .hm-gov-content03{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .browse-blog{
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }
    .mission-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 5rem;
    }
    .service-options-container,
    .service-option__content,
    .service-option__image{
        width: 100%;
    }
    .hm-management-options-container,
    .hm-education-options-container{
        flex-direction: column;
        width: 90%;
    }
    .hm-management-options-container:nth-child(2),
    .hm-education-options-container:nth-child(2){
        flex-direction: column;
    }
    .hm-management-option__image,
    .hm-education-option__image{
        width: 100%;
    }
    .hm-management-option__content,
    .hm-education-option__content{
        width: 100%;
    }
}