.overview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: url(../assets/about-overview.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 5rem 0;
}
.overview-videotext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-top: 10rem;
    color: #ffffff;
    width: 50%;
}
.overview-videotext h2{
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.overview-videotext p{
    font-family: var(--links-font-family);
    line-height: 20px;
}
.overview-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-bg);
    color: #ffffff;
    padding: 5rem 10rem;
    width: 100%;
}
.overview-intro h3{
    line-height: 40px;
    margin-bottom: 2rem;
}
.overview-wwa__content,
.overview-wwa__content2,
.overview-wwa__content3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.overview-wwa__content3{
    flex-direction: row-reverse;
    background: var(--color-bg);
}
.overview-wwa__content2{
    flex-direction: row-reverse;
}
.overview-wwa__content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    background-color: #ffffff;
    width: 50%;
    height: 100%;
}
.overview-wwa__content-text2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    background-color: var(--color-bg);
    color: #ffffff;
    width: 50%;
    height: 100%;
}
.overview-wwa__content-text h3,
.overview-wwa__content-text2 h3{
    line-height: 40px;
    margin-bottom: 3rem;
}
.overview-wwa__content-img{
    width: 50%;
    height: auto;
    overflow: hidden;
}
.overview-wwa__content-img img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.overview-wwa__details{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background: var(--color-bg);
    padding: 4rem 10rem;
}
.wwa-detail{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: #ffffff;
    margin-right: 10px;
}
.wwa-detail h4{
    padding-bottom: 1rem;
}
.wwa-detail p{
    line-height: 2rem;
    padding-bottom: 1rem;
}
.wwa-detail__button button{
    padding-bottom: 10px;
}
.wwa-detail__button a{
    color: #ffffff;
}
.wwa-detail__button a:hover{
    color: var(--color-link);
    cursor: pointer;
}
.wwa-detail__button a .arrow{
    width: 10px;
    margin-top: auto;
    padding-left: 1rem;
    transition: padding .4s ease-in-out;
}
.wwa-detail__button a:hover .arrow{
    padding-left: 2.5rem;
}
.wwa-detail__button a .arrow img{
    width: 30px;
}

.case-study{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
    border: 1px solid black;
}
.case-study-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    height: 100%;
}
.case-study-content__detail{
    display: flex;
    flex-direction: column;
    background-color: #e9e6e6;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.case-study-image{
    width: 90%;
    height: 200px;
    overflow: hidden;
    background-color: #514d4d;
}
.case-study-text{
    width: 90%;
    padding: 1rem 0;
}
.case-study-text h4{
    padding-bottom: 2rem;
}
.case-study button{
    padding: 1rem;
    border: 1px solid red;
    margin: 1rem 0;
}
.explore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
    border: 1px solid rgb(104, 98, 98);
}

/* BLOG PAGE */
.blog-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10rem;
}
.blog-intro{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 1rem 0;
}
.blog-intro .arrow img,
.mission-content .arrow img{    
    padding-right: 1rem;
}
.blog-intro a,
.mission-content a{
    font-size: 16px;
}
.blog-intro a span{
    color: #000;
    font-family: var(--links-font-family);
}
.blog-intro .arrow:hover,
.mission-content .arrow:hover{
    color: var(--color-link);
    cursor: pointer;
}
.blog-intro h2{
    padding-top: 2rem;
}
.blog-intro p{
    padding-top: 1rem;
}
.blog-cta-social-links{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding: .8rem 0;
}
.blog-cta-social-links li{
    padding-right: .5rem;
}
.browse-blog{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(91, 87, 87);
    width: 100%;
}
.browse-blog-options{
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
.browse-blog-options span{
    color: var(--color-bg);
}
.browse-blog-options span:hover{
    color: var(--color-link);
}
.blog-details{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    padding: 2rem 10rem;
    width: 100%;
    background-color: #e9e6e6;
}


/* OUR GOVERNANCE */
.hm-governance-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #514d4d;
}
.hm-governance-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #514d4d;
    box-shadow: 0px 16px 32px -1px rgba(5,28,44,.2), 0px 0px 1px 0px rgba(5,28,44,.15);
}
.hm-gov-image01{
    width: 100%;
    height: 500px;
    background: #857c7c;
}
.hm-gov-intro-text{
    width: 100%;
    color: #ffffff;
    padding: 1rem ;
    text-align: center;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.6) 100%);
    top: 503px;
}
.hm-governance-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}
.hm-gov-content02{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    background: #ffffff;
}
.hm-gov-content02 h4,
.hm-gov-content04 h4,
.hm-governance-more-info h4{
    padding: 1rem 0;
    font-size: 1rem;
    letter-spacing: 1px;
}
.hm-gov-sub-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 1.5rem;
    padding: 1rem;
    box-shadow: 0px 16px 32px -1px rgba(5,28,44,.2), 0px 0px 1px 0px rgba(5,28,44,.15);
}
.hm-gov-sub-content:hover{
    background-color: #fff;
}
.hm-gov-sub-content-image01{
    width: 50%;
    height: 300px;
    background: #857c7c;
}
.hm-gov-sub-content-text{
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 2rem;
}
.hm-gov-sub-content:hover .hm-gov-sub-content-text a,
.hm-gov-sub-content:hover .hm-gov-sub-content-text p{
    color: #000;
}
.hm-gov-sub-content:hover .hm-gov-sub-content-text a:hover{
    color: var(--color-link);
    border-bottom: 1px solid var(--color-link);
    transition: .2s ease-in-out;
}
.hm-gov-content04 .hm-gov-sub-content-text a {
    color: #fff;
}
.hm-gov-sub-content-text h3,
.hm-gov-sub-content-text2 h3{
    padding-bottom: 1rem;
}
.hm-gov-sub-content-text a,
.hm-gov-sub-content-text2 a{
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-family: var(--font-family);
    font-weight: 600;
}
.hm-gov-content03,
.hm-gov-content05{
    display: grid;
    grid-template-columns: auto auto;
    width: 65%;
    background: #ffffff;
    margin: 1.5rem 2rem;
}
.hm-gov-sub-content2{
    display: grid;
    grid-template-columns: auto;
    border: 1px solid #857c7c63;
}
.hm-gov-sub-content2:nth-child(1){
    margin-right: 2rem;
}
.hm-gov-sub-content-image02{
    width: 100%;
    height: 300px;
    background: #857c7c;
    margin-bottom: 1rem;
}

.hm-gov-content04{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    background: var(--color-bg);
    color: #fff;
}
.hm-gov-content05-intro{
    background: #ffffff;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hm-gov-content06{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #ffffff;
}
.hm-gov-content06-info{
    padding: 1rem 0;
}
.hm-gov-sub-content3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem;
    width: 70%;
}
.hm-gov-sub-content-details{
    display: flex;
    flex-direction: column;
    border: 1px solid #857c7c63;
    margin-right: 2rem;
}
.hm-gov-sub-content-detail-image{
    width: 100%;
    height: 200px;
    background: #857c7c;
    margin-bottom: 1rem;
}
.hm-governance-more-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #000;
    width: 90%;
    padding: 1rem 0;
}
.hm-governance-more-info h4 a{
    font-weight: 700;
    font-family: var(--font-family);
}
.hm-governance-more-info h4 a:hover{
    color: var(--color-link);
    border-bottom: 1px solid var(--color-link);
    transition: .2s ease-in-out;
}
.hm-governance-more-info-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 0;
    width: 100%;
}
.hm-governance-more-info-details{
    display: flex;
    flex-direction: column;
    border: 1px solid #00000007;
    margin-right: 2rem;
    padding: 1rem;
    width: 400px;
}
.hm-governance-more-info-image{
    width: 100%;
    height: 200px;
    background: #857e7e;
}
.hm-governance-more-info-image img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* OUR HISTORY */
.hm-history-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--color-bg);
    width: 100%;
}
.hm-history-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    padding-bottom: 2rem;
    width: 100%;
}
.hm-history-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    width: 50%;
}
.hm-history-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFCFC;
    padding: 1rem 2rem;
    margin-right: 3rem;
    width: 50%;
}
.hm-history-text p{
    padding: 1rem 0;
    font-weight: 500;
    line-height: 40px;
}
.hm-history-content__nav{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    width: 100%;
}
.hm-history-content__nav p{
    font-family: var(--links-font-family);
}
.hm-history-content__nav span svg{
    margin-bottom: -5px;
}
.hm-history-content__nav--links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    vertical-align: top;
    width: 100%;
}
.hm-history-content__nav--links button{
    background: var(--color-bg);
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 1rem;
    color: #000000;
}
.hm-history-content__nav--links a{
    font-family: var(--font-family);
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    margin: auto;
    color: #fff;
}
.hm-history-video{
    background: #d9d9d9;
    width: 90%;
    height: clamp(200px, 50vh, 500px);
}
.hm-history-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 3rem;
}
#hm-2019-history,
#hm-2020-history,
#hm-2021-history,
#hm-2022-history,
#hm-2023-history{
    display: flex;
    height: clamp(200px, 50vh, 500px);
}
.border-line{
    height: 100;
    width: 2px;
    margin-right: 1rem;
    background: #000000;
}
.history-img{
    width: 50%;
    background-color: #857c7c;
    height: 200px;
    margin: 2rem;
    padding: 5rem 0;
}
.history-content{
    height: 100%;
    width: 50%;
}
.history-content span{
    margin-left: -1.1rem;
}
.history-content-text{
    padding-left: 3rem;
}
.history-content-text p{
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    margin-bottom: 1rem;
}
#hm-2020-history,
#hm-2022-history{
    flex-direction: row-reverse;
}
#hm-2020-history .history-content,
#hm-2022-history .history-content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    text-align: right;
}
#hm-2020-history .history-img,
#hm-2022-history .history-img{
    margin: 2rem 0;
    margin-left: 3rem;
}
#hm-2020-history .border-line,
#hm-2022-history .border-line{
    margin-left: 7rem;
}
#hm-2020-history .history-content span,
#hm-2022-history .history-content span{
    margin-right: -7rem;
}
#hm-2020-history .history-content-text,
#hm-2022-history .history-content-text{
    padding-right: 5rem;
}


/* MISSIONS PAGE */
.mission-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid #514d4d;
    border-top: 1px solid #8d83837f;
    padding: 2rem 0;
}
.mission-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
    margin-right: 10rem;
}
.mission-content-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 0;
    max-width: 700px;
}
.mission-content-intro h3{
    font-size: 36px;
    line-height: 52px;
}
.mission-content-intro p span{
    font-family: var(--links-font-family);
    margin-bottom: 2rem;
}
.mission-content-intro h4{
    padding: 2rem 0;
}
.mission-content-intro ul{
    padding: .5rem 0 .5rem 3rem;
}
.mission-content-intro ul li{
    padding: 5px;
    list-style-type: disc;
}
.mission-other-content{
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 300px;
    margin-left: 2rem;
    padding: 1rem 0;
    border-top: 1px solid #2d2c2c;
}
.mission-other-content h4{
    padding-bottom: 1rem;
}
.mission-other-content-image1,
.mission-other-content-image2{
    width: 100%;
    height: auto;
}
.mission-other-content-text{
    padding: 1rem 0;
}
.mission-other-content-text p{
    padding: 1rem 0;
}
.mission-other-content-text img{
    width: 3rem;
    padding-left: 1rem;
}
.mission-other-content-text a:hover{
    cursor: pointer;
    color: var(--color-link);
}


/* CONTACT US PAGE */
#title{
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
#title h2{
    text-align: center;
    padding-top: 6rem;
    font-size: 56px;
}
.contact-us-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    width: 70%;
    border-bottom: 1px solid #514d4d;
}
.contact-us-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 1rem;
    max-width: 900px;
    padding: 1rem 2rem;
}
.contact-us-details h3{
    padding-bottom: 2rem;
    margin: 0;
    font-size: 1.5rem;
    border: none;
    width: 100%;
}
.hm-contact-form{
   width: 100%;
}
textarea{
    width: 95%;
    height: 150px;
    border: 1px solid #9b8e8e;
    font-size: 16px;
    margin: 10px 0;
    padding: 12px 20px;
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s ease-in-out;
    resize: none;
}
.contact-us-other-details{
    display: flex;
    flex-direction: column;
    justify-content: right;
    max-width: 40%;
    margin-left: 3rem;
    padding: 1rem 2rem 0;
}
.contact-us-other-content{
    padding: 2rem 0;
    border-top: 1px solid black;
}
.contact-us-other-content h4{
    padding-bottom: .8rem;
}
.contact-us-other-content p{
    padding-bottom: 2rem;
}
form .contact-submit-btn{
    width: 5rem;
    padding: 1rem;
    border: 1px solid red;
    margin: 1rem 0;
}
form .contact-us-questions{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    width: 90%;
}
form .contact-us-question-options{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem 0;
}
form .contact-us-question-option{
    margin-right: 2rem;
    cursor: pointer;
}
form .contact-us-question-option input{
    width: 1rem;
    border: 1px solid #181616;
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s ease-in-out;
}
form .contact-us-question-options label p{
    margin-left: 2rem;
    margin-top: -1.7rem;
    font-family: sans-serif;
}
form .contact-us-question-options label:hover{
    border-bottom: 1px solid var(--color-link);
    color: var(--color-link);
}


/* MEDIA PAGE */
.hm-media-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #857c7c;
    padding-bottom: 3rem;
}
.hm-media-title{
    height: 400px;
    width: 100%;
    text-align: center;
    border: 1px solid #514d4d;
}
.hm-media-title img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.hm-media-intro{
    padding: 2rem 5rem;
    background: #f8f8f883;
    width: 100%;
}
.hm-media-intro__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    margin: 1rem 0;
}

.hm-media-intro__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}
.hm-media-intro__content-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}
.hm-media-intro__content-title h2{
    font-size: 24px;
}
.hm-media-intro__content-image{
    width: 95%;
    height: 500px;
    background: #ffffff;
    border: 1px solid #514d4d;
}
.hm-media-intro__content-text{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.hm-media-intro__content-text .image-details{
    width: 45%;
    height: auto;
    margin: .5rem;
    background: #ffffff;
    border: 1px solid #514d4d;
}
.hm-media-intro__other-content{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    padding: 1rem 0;
    width: 90%;
    border-top: 1px solid #514d4d;
}
.hm-media-intro__content h4,
.hm-media-intro__other-content h4{
    padding: .5rem 0;
}

.hm-media-intro__other-content{
    padding: 2rem 5rem;
    background: #f8f8f883;
}
.hm-media-intro__other-content-text{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem 2.5rem;
    padding: 1rem 0;
}
.details,
.hm-media-details{
    margin-right: 1rem;
    background: #f6f0f08c;
}
.details h2,
.hm-media-details h2 {
    font-size: 24px;
    padding: .5rem 1rem;
}
.details p,
.hm-media-details p{
    padding: .5rem 1rem;
}
.hm-media-details{
    padding: 1rem 0;
}
.hm-media-content-image{
    height: 200px;
    background: #ffffff;
    margin-bottom: 1rem;
    border: 1px solid #514d4d;
}
.hm-media-details .arrow img{
    width: 30px;
}
.hm-media-details a{
    padding-left: .5rem;
}
.hm-media-details a:hover{
    color: var(--color-link);
}

/* CAREERS PAGE */
.hm-careers-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #857c7c;
  padding-bottom: 3rem;
}
.hm-careers-title{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3rem 15rem;
  height: auto;
  width: 100%;
  background: rgb(18, 18, 18);
  color: white;
  text-align: left;
}
.hm-careers-title h2{
  font-size: clamp(1.5rem, 3vw, 3rem);
  padding: 1rem 0;
}
.hm-careers-about-text{
    width: 50%;
}
.hm-careers-about-text p{
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    line-height: 40px;
    margin-bottom: 1rem;
}
.hm-careers-intro{
  width: 100%;
}
.hm-careers-intro__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 1rem 0;
}
.hm-careers-intro__benefits{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem;
    margin: 0 auto;
    width: 100%;
}
.hm-career-benefits{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 5rem 3.5rem;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.benefit-tile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 100%;
    background: #ffffff;
}
.benefit-tile__image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    margin-bottom: 3rem;
    color: #0f9024;
    background: #d9e2d7de;
    border-radius: 50%;
}
.benefit-tile h4{
    margin-bottom: 1.5rem;
}
.benefit-tile__text{
    text-align: center;
}
.hm-career-application{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin: 0 auto;
}
.career-application-process{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.career-application-process h4{
    margin: 1rem 0;
    font-size: clamp(1.5rem, 2vw, 1.8rem);
}
.hm-application-overview{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #a1b785;
    color: #ffffff;
    padding: 3rem 5rem;
    width: 100%;
    margin: 0 auto;
}
.hm-application-overview h3{
    margin-bottom: 2rem;
}
.hm-application-overview p{
    font-size: clamp(1rem, 1.5vw, 1.3rem);
    letter-spacing: 1px;
    width: 50%;
}
.hm-application-process{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35vh, 1fr));
    grid-gap: 3rem 4rem;
    width: 90%;
    padding: 2rem 10rem;
}
.hm-application-process__step{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 16px 32px -1px rgba(5,28,44,.2),0px 0px 1px 0px rgba(5,28,44,.15);
    padding: 1rem;
    border-radius: 1rem;
}
.hm-application-process__step-number{
    margin-bottom: 1rem;
    color: #0f9024;
}
.hm-application-process__step-number span{
    color: black;
    font-size: 3rem;
    margin-left: 1rem;
}

.hm-application-process__step:hover .hm-application-process__step-number span{
    color: #0f9024;
    transition: padding-left 0.5s ease-in-out;
    padding-left: 1.5rem;
}




/* FEATURED INSIGHTS PAGES */
.hm-featured-insights-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 3px solid #857c7c;
    background: #e9e6e6;
    padding-bottom: 3rem;
    margin-top: auto;
}
.hm-featured-insights-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background: #ded9d9;
}
.hm-featured-insights-intro h1{
    padding: 2rem 0;
}
.hm-featured-insights-intro p{
    padding: 1rem 5rem;
    width: 70%;
    background: #ffffff;
}
.hm-featured-insights__content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem 0;
    background: #e9e6e6;
}
.hm-featured-insights__content h5{
    padding: 1rem;
}
.hm-featured-insights__content-image{
    height: 400px;
    width: 80%;
    margin: 2rem;
    background: #ffffff;
    border: 1px solid #514d4d;
}
.hm-featured-insights__content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: -4rem;
    margin-bottom: 2rem;
    width: 60%;
    background: #ffffff;
    border: 1px solid #ada1a1;
}
.hm-featured-insights__details{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin-top: .5rem;
    width: 80%;
}
.hm-featured-insights__details-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-right: 2rem;
    border: 1px solid #ada1a1;
}
.hm-featured-insights__details-content-image{
    height: 300px;
    width: 100%;
    margin-bottom: 1rem;
    background: #ffffff;
    border: 1px solid #ada1a1;
}
.hm-featured-insights__details-content-text{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}
.hm-featured-insights__details-content-text p{
    padding-top: 1.5rem;
}
.hm-featured-insights__details01{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 0;
    border-top: 1px solid #514d4d;
}
.hm-featured-insights__details01 h4{
    padding: 1rem 0;
}
.hm-featured-insights__details01-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-right: 2rem;
    border: 1px solid #ada1a1;
}
.hm-featured-insights__details01-content-image{
    height: 300px;
    width: 100%;
    margin-bottom: 1rem;
    background: #ffffff;
    border: 1px solid #ada1a1;
}
.hm-featured-insights__details01-content-text{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}
.hm-featured-insights__details01-content-text p{
    margin-top: auto;
}

/* CTA TAG */
.cta-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    background: var(--color-bg);
}
.cta-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #ffffff;
    padding: 1rem;
    width: 80%;
}
.cta-content__buttons{
    margin-left: 5rem;
}
.cta-content__buttons button{
    padding: .8rem 2rem;
    background: transparent;
    border: 3px solid #0ead03;
    border-radius: 1rem;
    margin-top: .5rem;
}
.cta-content__buttons button:nth-child(1){
    margin-right: 2rem;
}
.cta-content__buttons button:hover{
    background: #ffffff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}
.cta-content__buttons button a{
    color: #ffffff;
    font-family: 'Merriweather', serif;
}
.cta-content__buttons button:hover a{
    color: #000000;
    transition: all .5s ease-in-out;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1440px){
    /* ABOUT US OVERVIEW */
    .overview-videotext{
        padding: 3rem;
        padding-top: auto;
        margin-bottom: -4rem;
        width: 100%;
    }
    /* OUR MISSION... */
    .mission-container{
        padding: 2rem 5rem;
    }
    /* SERVICES */
    .service-options-container{
        padding: 2rem;
    }
    /* OUR GOVERNANCE */
    .hm-gov-content03,
    .hm-gov-content05{
        width: 90%;
    }
    .hm-gov-sub-content3{
        width: 100%;
        padding: 1rem 2rem;
    }
    /* CAREERS */
    .hm-careers-about-text{
        width: 100%;
    }
    /* CONTACT US */
    .contact-us-container{
        padding: 2rem 5rem;
        width: 100%;
    }
    .contact-us-details{
        max-width: 60%;
        margin: 0;
    }
    .contact-us-other-details{
        margin: 0;
    }
}

@media screen and (max-width: 1084px){
    .overview{
        height: auto;
    }
    .overview-videotext{
        margin: 0;
        margin-bottom: -4rem;
        width: 100%;
    }
    .overview-videotext h2{
        font-size: 36px;
    }
    .overview-intro{
        padding: 5rem 5rem;
    }
    .overview-intro h3{
        padding-bottom: 1rem;
    }
    .overview-wwa__details{
        padding: 4rem 5rem;
        flex-direction: column;
    }
    .wwa-detail{
        margin-bottom: 1rem;
    }
    .case-study{
        padding: 0 5rem;
    }
    .case-study-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .case-study-content__detail{
        margin: 0;
        margin-bottom: 1rem;
    }
    .case-study-image{
        width: 100%;
        height: 200px;
    }
    .explore{
        padding: 0 5rem;
    }
    .blog-container{
        padding: 0 5rem;
        width: 100%;
    }
    .blog-details{
        display: flex;
        flex-direction: column;
        padding: 2rem 5rem;
    }
    .mission-content{
        padding: 1rem 0;
        margin: 0;
    }
    .mission-container{
        padding: 2rem 5rem;
    }

    /* CONTACT PAGE */
    
    .contact-us-container{
        padding: 1rem 2rem;
    }

    /* CAREERS */
    .hm-careers-title{
        padding: 3rem 5rem;
        width: 100%;
    }
    /* HISTORY */
    .hm-history-content{
        flex-direction: column;
        padding: 0 1rem;
    }
    .hm-history-title,
    .hm-history-text{
        width: 100%;
        padding: 1rem;
    }
    .hm-history-text{
        margin: 0;
    }

    /* MEDIA */
    .hm-media-intro__content,
    .hm-media-intro__content-title,
    .hm-media-intro__content-text,
    .hm-media-intro__content-text .image-details,
    .hm-media-intro__other-content-text{
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .hm-media-intro {
        padding: 2rem;
    }
    .hm-media-intro__content-image {
        width: 100%;
    }
    .hm-media-details{
        margin: 0;
        margin-bottom: 2rem;
    }
    .hm-gov-sub-content3{
        padding: 1rem;
    }

    /* CTA TAG */
    .cta-content{
      flex-direction: column;
    }
    .cta-content button{
        padding: 1rem;
        margin: 1rem 0;
    }
    .cta-content__buttons{
        margin: 1rem 0;
    }
}
@media screen and (max-width: 768px){
    /* ABOUT OVERVIEW */
    .overview-videotext{
        padding: 1rem;
    }
    .overview-intro{
        padding: 2rem 1.5rem;
    }
    .overview-intro h3{
        margin: 0;
    }
    .overview-wwa__content,
    .overview-wwa__content2,
    .overview-wwa__content3{
        flex-direction: column-reverse;
    }
    .overview-wwa__content-text,
    .overview-wwa__content-text2{
        padding: 1.5rem;
        width: 100%;
    }
    .overview-wwa__content-text h3, 
    .overview-wwa__content-text2 h3 {
        margin: 0;
    }
    .overview-wwa__details {
        padding: 1rem 2rem;
    }
    .wwa-detail {
        margin: 0;
        padding: .5rem;
    }
    .overview-wwa__content-img{
        height: auto;
        width: 100%;
    }
    .case-study,
    .explore{
        padding: 0 1rem;
    }
    .case-study-content {
        padding: 1rem 0;
    }
    .case-study-text h4 {
        padding-bottom: 1rem;
    }

    /* BLOG PAGE */
    .browse-blog{
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }
    .mission-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 5rem;
    }
    .service-options-container,
    .service-option__content,
    .service-option__image{
        width: 100%;
    }
    .hm-management-options-container,
    .hm-education-options-container{
        flex-direction: column;
        width: 90%;
    }
    .hm-management-options-container:nth-child(2),
    .hm-education-options-container:nth-child(2){
        flex-direction: column;
    }
    .hm-management-option__image,
    .hm-education-option__image{
        width: 100%;
    }
    .hm-management-option__content,
    .hm-education-option__content{
        width: 100%;
    }

    /* BLOG PAGE */
    .blog-container{
        padding: 0 1rem;
    }
    .blog-details{
        padding: 2rem 1rem;
    }


    /* CONTACT PAGE */
    #title{
        margin: 0;
    }
    .contact-us-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0;
    }
    .contact-us-details{
        padding-left: .8rem;
    }
    .contact-us-details,
    .contact-us-other-details{
        margin: 0;
        max-width: 90%;
    }

    /* CAREERS */
    .hm-careers-title{
        padding: 2rem;
    }
    .hm-careers-intro {
        padding: 2rem .5rem;
        width: 100%;
    }
    .hm-careers-intro__about{
        flex-direction: column;
    }
    .hm-careers-about-text{
        width: 100%;
    }
    .hm-application-overview{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--color-bg);
        color: #ffffff;
        padding: 2rem 1rem;
        width: 100%;
        margin: 0 auto;
    }
    .hm-application-overview h3{
        margin-bottom: 2rem;
        color: var(--color-link);
    }
    .hm-application-overview p{
        font-size: clamp(1rem, 1.5vw, 1.5rem);
        letter-spacing: 1px;
        width: 90%;
    }
    .hm-careers-intro__text{
        padding: 0;
        width: 100%;
    }
    .hm-careers-intro__benefits{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .hm-career-benefits,
    .hm-application-process{
        display: flex;
        flex-direction: column;
        padding: 0;
        grid-gap: 2rem;
    }
    .benefit-tile{
        padding: .5rem;
    }
    .benefit-tile h4{
        margin-bottom: 1rem;
    }

    /* FEATURED INSIGHTS */
    .hm-featured-insights__details{
        flex-direction: column;
    }
    .hm-featured-insights__details-content{
        width: 100%;
        margin: 1rem 0;
    }

    /* GOVERNANCE */
    .hm-governance-title{
        flex-direction: column;
    }
    .hm-gov-intro-text,
    .hm-gov-image01{
        width: 100%;
    }
    .hm-gov-content03,
    .hm-gov-content05{
        display: flex;
        flex-direction: column;
    }
    .hm-gov-sub-content,
    .hm-gov-sub-content3,
    .hm-governance-more-info-content{
        flex-direction: column;
        align-items: center;
    }
    .hm-gov-sub-content2:nth-child(1) {
        margin: 0 0 2rem 0;
    }
    .hm-gov-sub-content-image01,
    .hm-gov-sub-content-text{
        width: 100%;
    }
    .hm-gov-sub-content-text,
    .hm-gov-sub-content-text2{
        padding: 1rem;
    }
    .hm-gov-sub-content-details{
        margin: 1rem 0;
    }
    .hm-gov-sub-content-detail-text{
        padding: 0 1rem 1rem;
    }
    .hm-governance-more-info{
        width: 90%;
    }
    .hm-governance-more-info h4 {
        padding: 1rem 0;
    }
    .hm-governance-more-info-details{
        width: 90%;
        margin: 1rem 0;
    }
    /* HISTORY PAGE */
    .hm-history-details{
        width: 100%;
    }
    .hm-history-content__nav--links{
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .hm-history-content__nav--links button{
        margin: 1rem;
    }
    #hm-2019-history,
    #hm-2020-history,
    #hm-2021-history,
    #hm-2022-history,
    #hm-2023-history{
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
    }
    #hm-2020-history .history-content,
    #hm-2022-history .history-content{
        text-align: left;
    }
    #hm-2020-history .history-img,
    #hm-2022-history .history-img{
        margin: 2rem;
    }
    #hm-2020-history .history-content-text,
    #hm-2022-history .history-content-text {
        padding-right: 0;
    }
    .history-img,
    .history-content{
        width: 80%;
    }
    .history-content{
        padding: 1rem 0 2rem 0;
    }
    .history-content-text{
        padding-left: .5rem;
    }
    .border-line,
    .history-content span{
        display: none;
    }
    /* MEDIA */
    .hm-media-intro,
    .hm-media-intro__other-content {
        padding: 2rem 1rem;
    }

}