/* .curved-lines {
    width: 99%;
    height: 1px;
    background-color: rgba(133, 197, 73, 0.519);
    position: absolute;
    top: 10%;
    animation: animateLine 1s linear;
    transform-origin: center center;
} */
#curved-lines-container {
    position: relative;
    width: 98%;
    height: 100%;
    margin: 0 auto;
}
.curved-lines{
    width: 120%;
    height: 1px;
    background-color: transparent;
    position: absolute;
    right: 20px;
    overflow: hidden;
    transform-origin: center center;
}
.curved-lines::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(133, 197, 73, 0.576);
    position: absolute;
    top: 50%;
    overflow: hidden;
    animation: animateLine 1s linear;
    transform-origin: center center;
    transition-duration: 2s;
}
@keyframes animateLine {
    from {
        transform: rotate(-90deg) translateY(2000%);
    }
    to {
        transform: rotate(0deg) translateY(1%);
    }
}
.header-container{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-bg);
    height: 100%;
    width: 100%;
}
.header-image{
    position: relative;
    z-index: 2;
    left: 50px;
    width: 50%;
    height: auto;
}
.header-image img{
    z-index: 2;
    height: 90%;
    width: 83%;
    margin-left: 4rem;
}
.header-content{
    position: relative;
    z-index: 2;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 5rem 0 0;
    align-items: flex-start;
}
.header-content  h1{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(2.7rem, 3vw, 5rem);
    color: #fff;
    padding-bottom: 10px;
}
.header-content  h1 span{
    color: var(--color-link);
    font-family: var(--font-family);
}
.header-content  p{
    font-family: var(--font-family);
    line-height: 30px;
    color: #fff;
}
.header-content__button{
    padding: 1rem;
    margin-bottom: 1rem;
}
.header-content__button a{
    font-family: var(--links-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}
.header-content__button a:hover{
    color: var(--color-link);
    cursor: pointer;
}
.header-content__button a .arrow{
    margin-top: auto;
    padding-left: 1rem;
    transition: padding .4s ease-in-out;
}
.header-content__button a:hover .arrow{
    padding-left: 2.5rem;
}
.header-content__button .arrow img{
    width: 2.5rem;
}
.header__highlight-bar{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    background: #fff;
    padding: .5rem 0;
    margin-top: -1.5rem;
}
.highlight-bar__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.highlight-bar__container ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
}
.highlight-bar__container ul li{
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
}
.highlight-bar__container ul li p{
    font-size: 48px;
    line-height: 20px;
    padding: 1rem;
    border-right: .2rem solid #d3f084;
}
.highlight-item-title{
    text-align: left;
    padding-left: 1rem;
}
.highlight-item-title a span{
    line-height: 10px;
    transition-delay: .5s;
    font-family: sans-serif;
    font-size: 13px;
}

.highlight-item-title:hover a span{
    color: var(--color-link);
    cursor: pointer;
    /* scale */
    transition: 1s ease-in-out;
}
.highlight-bar__heading{
    padding: 0 2rem 0 4rem;
    font-family: var(--links-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

/* SAY HELLO */
.hemllin {
    position: fixed;
    top: 80vh;
    right: 30px;
    z-index: 999;
    overflow: visible;
    display: flex;
}
.hemllin a {
    position: relative;
}
.hemllin a img {
    height: 50px;
}
.say-hello{
    background: #fff;
    color: #fff;
    padding: 20px 10px;
    width: 200px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    left: -2rem;
    top: 0rem;
    box-shadow: #0000002e 0px 0px 6px 2px;
    transition: all linear 0.8s;
    animation: 1s ease-in-out 0s normal none 1 running fadeInUp;
}
.say-hello .close {
    position: absolute;
    left: -20px;
    background: #53b44b;
    line-height: 0;
    padding: 7px;
    border-radius: 15px;
    top: -10px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    opacity: 1;
    cursor: pointer;
}
.say-hello a {
    font-size: 13px;
    font-weight: 400;
    color: #000 !important;
    margin: 0;
    display: inline-block;
    font-family: 'Merriweather';
}
.say-hello a:hover{
    color:  var(--color-bg) !important;
    font-weight: 500;
}
.say-hello .close:hover {
    background: #000;
}
.say-hello .close:hover span, .say-hello:hover .close span {
    color: #fff !important;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.close:not(:disabled) {
    cursor: pointer;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1640px){
    .header-content{
        margin: 10rem 15rem 10rem 0;
    }
    .curved-lines{
        right: 15px;
    }
}
@media screen and (max-width: 1200px){
    .header__highlight-bar{
        display: flex;
        align-items: center;
        background: #fff;
        padding: .5rem 0;
        overflow-x: auto;
        overflow-y: hidden;
        margin-top: -2rem;
    }
    .highlight-bar__container{
        white-space: nowrap;
    }
    .curved-lines{
        right: 30px;
    }
}
@media screen and (max-width: 1280px){
    .header-container{
        height: 100%;
        width: 100%;
    }
    .header{
        position: relative;
        z-index: -1;
        flex-direction: column-reverse;
        width: 100%;
        height: 85vh;
    }
    .header-image{
        position: absolute;
        z-index: 2;
        height: auto;
        left: 60%;
        bottom: 50px;
        width: 40%;
    }
    .header-content{
        position: absolute;
        width: 60%;
        top: 80px;
        left: 20px;
        z-index: 2;
        padding: 2rem;
        margin:0;
    }
    .header-image img{
        width: 100%;
        height: 90%;
        margin: 0;
    }
    .header-content__button{
        padding: 1rem 0;
    }
    .curved-lines{
        right: 55px;
    }
}
@media only screen and (max-width: 991px){
    .hemllin {
        top: 65vh !important;
    }
    .header {
        flex-direction: column;
        justify-content: center;
    }
    /* .header-content {
        position: absolute;
        width: 80%;
        top: 50%;
        left: 20px;
        z-index: 2;
        padding: 2rem;
        margin: 0;
    }
    .header-image {
        height: 50%;
        left: 50%;
        bottom: 50%;
        width: 40%;
    } */
}
@media screen and (max-width: 768px){
    #curved-lines-container{
        display: none;
    }
    .header{
        flex-direction: column;
    }
    .header-content{
        top: 50px;
        margin: 0;
        width: 90%;
        padding: 1.2rem 1rem;
    }
    .header-content p{
        font-size: 1.1rem;
        letter-spacing: .2px;
    }
}
