/* .curved-lines {
    width: 99%;
    height: 1px;
    background-color: rgba(133, 197, 73, 0.519);
    position: absolute;
    top: 10%;
    animation: animateLine 1s linear;
    transform-origin: center center;
} */
#curved-lines-container {
    position: relative;
    width: 100%;
    height: 100%;
}
.curved-lines{
    width: 120%;
    height: 1px;
    background-color: transparent;
    position: absolute;
    right: 1%;
    overflow: hidden;
    transform-origin: center center;
}
.curved-lines::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(133, 197, 73, 0.718);
    position: absolute;
    overflow: hidden;
    animation: animateLine 1s linear;
    transform-origin: center center;
}
@keyframes animateLine {
    from {
        transform: rotate(-90deg) translateY(200%);
    }
    to {
        transform: rotate(0deg) translateY(1%);
    }
}
.header-container{
    height: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-bg);
    height: 90%;
}
.header-image{
    position: relative;
    z-index: 2;
    left: 50px;
    width: 50%;
}
.header-image img{
    z-index: 2;
    height: 90%;
    width: 87%;
    margin-left: 4rem;
}
.header-content{
    position: relative;
    z-index: 2;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10rem 5rem 10rem 0;
    align-items: flex-start;
}
.header-content  h1{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    color: #fff;
    padding-bottom: 10px;
}
.header-content  h1 span{
    color: var(--color-link);
    font-family: var(--font-family);
}
.header-content  p{
    font-family: var(--font-family);
    line-height: 30px;
    color: #fff;
}
.header-content__button{
    padding: 1rem;
}
.header-content__button a{
    font-family: var(--links-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
}
.header-content__button a:hover{
    color: var(--color-link);
    cursor: pointer;
}
.header-content__button a .arrow{
    margin-top: auto;
    padding-left: 1rem;
    transition: padding .4s ease-in-out;
}
.header-content__button a:hover .arrow{
    padding-left: 2.5rem;
}
.header__highlight-bar{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    background: #fff;
    padding: .5rem 0;
    margin-top: -2rem;
}
.highlight-bar__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.highlight-bar__container ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
}
.highlight-bar__container ul li{
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
}
.highlight-bar__container ul li p{
    font-size: 48px;
    line-height: 24px;
    padding: 1rem;
    border-right: .4rem solid #C0BFBF;
}
.highlight-item-title{
    text-align: left;
    padding-left: 1rem;
}
.highlight-item-title a span{
    line-height: 24px;
    transition-delay: .5s;
}

.highlight-item-title:hover a span{
    color: var(--color-link);
    cursor: pointer;
    /* scale */
    transition: 1s ease-in-out;
}
.highlight-bar__heading{
    padding: 0 5rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}


/* MEDIA QUERIES */
@media screen and (min-width: 1640px){
    .header-content{
        margin: 10rem 15rem 10rem 0;
    }
}
@media screen and (max-width: 1300px){
    .header__highlight-bar{
        display: flex;
        align-items: center;
        background: #fff;
        padding: .5rem 0;
        overflow-x: auto;
        overflow-y: hidden;
        margin-top: -2rem;
    }
    .highlight-bar__container{
        white-space: nowrap;
    }
}
@media screen and (max-width: 1080px){
    .header{
        flex-direction: column;
    }
    .header-image img{
        width: 100%;
        height: 100%;
        font-size: 48px;
    }
    .header-content{
        margin: 3rem 5rem;
    }
    .header-content__button{
        padding: 1rem 0;
    }
}
@media screen and (max-width: 768px){
    
    #curved-lines-container{
        display: none;
    }
    .header{
        flex-direction: column;
    }
    .header-content{
        margin: 0;
        padding: 3rem;
    }
}
