.industries-list ul{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 1rem;
    width: 90%;
}
.industries-list h3{
    padding: 1rem;
    font-size: 25px;
    border-bottom: 1px solid #514d4d;
    width: 90%;
}
.industries-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
}
.industries-dropdown-item,
.services-dropdown-item,
.featured-insights-dropdown-item{
    padding: .5rem 0;
}

/* ABOUT */
.about-us-list{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#sections{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}
.about-us-sections{
    padding: 1rem 0;
}


/* FEATURED INSIGHTS */
.featured-insights-list,
.about-us-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2rem;
}
.featured-insights-list h3{
    padding: .5rem;
    font-size: 25px;
    border-bottom: 1px solid #514d4d;
}
.featured-insights-list p{
    padding: .5rem 0;
}
.featured-insights-list ul{
    padding-left: 2rem;
}


.industries-dropdown-item  a,
.services-dropdown-item  a,
.featured-insights-dropdown-item  a,
.about-us-dropdown-item  a,
.about-us-sections a{
    color: var(--color-bg);
    padding: 20px 0;
    font-family: var(--links-font-family);
}
.industries-dropdown-item  a:hover,
.services-dropdown-item  a:hover,
.featured-insights-dropdown-item  a:hover,
.about-us-dropdown-item  a:hover,
.about-us-sections a:hover{
    color: var(--color-link);
    font-family: var(--links-font-family);
    border: none;
}

