
/* SERVICES PAGE */
.services-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #514d4d;
}
.services-title{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #807b7b;
    padding: 0;
}
.services-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 10rem;
}
.service-options-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem;
    width: 100%;
}
.service-options-container:nth-child(2),
.service-options-container:nth-child(4),
.service-options-container:nth-child(6){
    flex-direction: row-reverse;
}
.service-option__image{
    width: 40%;
    height: 300px;
    margin-top: 2rem;
    background: #e9e6e6;
}
.service-option__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 5rem;
    width: 60%;
}
.service-option__content h3{
    padding: 1rem 0;
    border: none;
}
.service-option__content p{
    padding-bottom: .5rem;
    font-weight: 500;
}
.service-option__content button{
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    background: var(--color-bg);
    margin: 1rem 2rem;
}
.service-option__content button a{
    color: #ffffff;
}
.service-option__content button a:hover{
    color: var(--color-link);
}
.services-included{
    padding-left: 3rem;
}
.services-included li{
    list-style-type: disc;
    font-family: var(--links-font-family);
    padding-bottom: .5rem;
}

/* MANAGEMENT SERVICES PAGE */
.management-container,
.education-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #514d4d;
}
.hm-management-title,
.hm-education-title{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #c7bfbf;
}
.hm-management-title h4,
.hm-education-title h4{
    padding-left: 4rem;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
.hm-management-intro,
.hm-education-intro{
    margin: 2rem 0;
}
.hm-management-intro__image,
.hm-education-intro__image{
    width: 100%;
    height: 300px;
    background: #e9e6e6;
}
.hm-management-intro__text,
.hm-education-intro__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 3rem;
    width: 80%;
}
.hm-management-intro__text h4,
.hm-education-intro__text h4{
    padding: 1rem 0;
}
.hm-management-intro__text button,
.hm-education-intro__text button{
    padding: 1rem;
    background: #807b7b;
    margin: 1rem 0;
    align-items: center;
}
.hm-management-content,
.hm-education-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.hm-management-options-container,
.hm-education-options-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}
.hm-management-options-container:nth-child(2),
.hm-education-options-container:nth-child(2){
    flex-direction: row-reverse;
}
.hm-management-option__image,
.hm-education-option__image{
    width: 50%;
    height: 300px;
    background: #e9e6e6;
}
.hm-management-option__content,
.hm-education-option__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 5rem;
    width: 50%;
}
.hm-management-option__content h3,
.hm-education-option__content h3{
    padding: 1rem 0;
    border: none;
}
.hm-management-option__content p,
.hm-education-option__content p{
    padding-bottom: 1rem;
}
.hm-management-footer,
.hm-education-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}
.hm-management-footer h3,
.hm-education-footer h3,
.hm-management-footer p,
.hm-education-footer p{
    text-align: center;
    padding: 1rem 0;
    width: 90%;
}