/* SERVICES PAGE */

.services-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #514d4d;
}
.services-title{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    color: #ffffff;
    letter-spacing: 2px;
    padding: 0;
}
.services-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 8rem;
}
.service-options-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
    width: 100%;
}
.service-options-container:nth-child(2),
.service-options-container:nth-child(4),
.service-options-container:nth-child(6){
    flex-direction: row-reverse;
}
.service-option__image{
    height: 300px;
    margin-top: 2rem;
    background: #e9e6e6;
}
.service-option__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.service-option__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 2rem;
    width: 60%;
}
.service-option__content h3{
    padding: 1rem 0;
    border: none;
}
.service-option__content p{
    padding-bottom: .5rem;
    font-weight: 500;
}
.service-option__content button{
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    background: var(--color-bg);
    margin: 1rem 2rem;
}
.service-option__content button a{
    color: #ffffff;
}
.service-option__content button a:hover{
    color: var(--color-link);
}
.services-included{
    padding-left: 3rem;
}
.services-included li{
    list-style-type: disc;
    font-family: var(--links-font-family);
    padding-bottom: .5rem;
}

/* MANAGEMENT SERVICES PAGE */
.management-container,
.education-container,
.travel-container,
.cntr-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #514d4d;
}
.hm-management-title,
.hm-education-title,
.hm-travel-title,
.hm-cntr-title{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    background: var(--color-bg);
    color: #ffffff;
}
.hm-management-intro svg,
.hm-education-intro svg,
.hm-travel-intro svg,
.hm-cntr-intro svg {
    position: relative;
    /* top: 205px; */
    justify-content: flex-end;
    margin-top: auto;
    width: calc(100% + 1.3px);
    height: 100px;
}

.hm-management-intro .shape-fill,
.hm-education-intro .shape-fill,
.hm-travel-intro .shape-fill,
.hm-cntr-intro .shape-fill{
    fill: var(--color-bg);
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1688456628 svg {
        width: calc(152% + 1.3px);
        height: 101px;
    }
}
.hm-management-title h4,
.hm-education-title h4,
.hm-travel-title h4,
.hm-cntr-title h4{
    padding-top: 200px;
    padding-left: 5rem;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
.hm-management-title p,
.hm-education-title p,
.hm-travel-title p,
.hm-cntr-title p{
    padding: 2rem 5rem;
    letter-spacing: 2px;
}
.hm-management-intro,
.hm-education-intro,
.hm-travel-intro,
.hm-cntr-intro{
    margin-bottom: 2rem;
}
.hm-management-intro__text,
.hm-education-intro__text,
.hm-travel-intro__text,
.hm-cntr-intro__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 5rem;
}
.hm-management-intro__text h4,
.hm-education-intro__text h3,
.hm-travel-intro__text h4,
.hm-cntr-intro__text h4{
    padding: 1rem 0;
    font-size: clamp(1.5rem, 5vw, 2rem);
    color: #0f9024;
}

.hm-management-intro__text p,
.hm-education-intro__text p,
.hm-travel-intro__text p,
.hm-cntr-intro__text p{
    padding-top: 1rem;
    text-align: center;
    width: 70%;
}
.hm-management-content,
.hm-education-content,
.hm-travel-content,
.hm-cntr-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.hm-management-options-container,
.hm-education-options-container,
.hm-travel-options-container,
.hm-cntr-options-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin-bottom: 2rem;
    width: 90%;
    transition: all 2s ease-in-out;
    transition-delay: .2s;
}
.hm-education-options-container,
.hm-travel-options-container,
.hm-cntr-options-container{
    width: 90%;
    justify-content: space-evenly;
}
.hm-management-options-container:nth-child(2),
.hm-management-options-container:nth-child(4),
.hm-education-options-container:nth-child(2),
.hm-education-options-container:nth-child(4),
.hm-travel-options-container:nth-child(2),
.hm-cntr-options-container:nth-child(2){
    flex-direction: row-reverse;
}
.hm-management-option__image,
.hm-education-option__image,
.hm-travel-option__image,
.hm-cntr-option__image{
    width: 40%;
    height: clamp(200px, 40vh, 500px);
    background: #e9e6e6;
    margin-bottom: auto;
    padding: 0;
}

.hm-management-option__image img,
.hm-education-option__image img,
.hm-travel-option__image img,
.hm-cntr-option__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.hm-management-option__content,
.hm-education-option__content,
.hm-travel-option__content,
.hm-cntr-option__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 3rem;
    width: 60%;
    height: 100%;
}
.hm-mng-step-number,
.hm-edu-step-number,
.hm-travel-step-number,
.hm-cntr-step-number{
    margin-bottom: 1rem;
    color: #0f9024;
}
.hm-edu-step-number h4{
    font-size: clamp(1.5rem, 5vw, 2rem);
}
.hm-mng-step-number span,
.hm-edu-step-number span,
.hm-travel-step-number span,
.hm-cntr-step-number span{
    color: black;
    font-family: var(--font-family);
    font-size: clamp(1.5rem, 5vw, 2rem);
    margin-left: 1rem;
}
.hm-management-option__content p,
.hm-education-option__content p,
.hm-travel-option__content p,
.hm-cntr-option__content p{
    font-size: clamp(1rem, 3vw, 1.2rem);
    padding-bottom: 1rem;
}
.hm-management-option__content__list,
.hm-management-option__content:hover .hm-management-option__content__desc{
    display: none;
}
.hm-management-option__content__desc,
.hm-management-option__content:hover .hm-management-option__content__list{
    display: flex;
    flex-direction: column;
    height: auto;
}
.hm-management-option__content__list h4{
    padding-bottom: 1rem;
}
.hm-management-option__content__list ul,
.hm-education-option__content__list ul,
.hm-travel-option__content__list ul,
.hm-cntr-option__content__list ul{
    padding-left: 3rem;
}
.hm-management-option__content__list ul li,
.hm-education-option__content__list ul li,
.hm-travel-option__content__list ul li,
.hm-cntr-option__content__list ul li{
    list-style-type: disc;
    font-family: var(--font-family);
    letter-spacing: .8px;
    padding-bottom: .5rem;
}
.hm-management-footer,
.hm-education-footer,
.hm-travel-footer,
.hm-cntr-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem .5rem;
    width: 100%;
}
.hm-management-footer h3,
.hm-education-footer h3,
.hm-travel-footer h4,
.hm-cntr-footer h4{
    text-align: center;
    padding-bottom: 1rem;
    font-size: clamp(1.5rem, 5vw, 1.8rem);
    width: 90%;
}
.hm-management-footer p,
.hm-education-footer p,
.hm-travel-footer p,
.hm-cntr-footer p{
    font-size: clamp(1rem, 3vw, 1.2rem);
    text-align: center;
    padding: 1rem 0;
    width: 90%;
}
.hm-education-wu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hm-education-wu h3{
    margin: 1rem 0;
}
.hm-education-wu__content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 3rem 6rem;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 1rem;
}
.hm-education-wu__content__desc{
    padding: 1rem;
    border-radius: 1rem;
}
.hm-education-wu__content__desc h4{
    font-size: clamp(1rem, 2vw, 1.4rem);
    padding: .5rem 0;
    color: #0f9024;
}
.hm-education-wu__content__desc p{
    font-size: clamp(1rem, 3vw, 1.2rem);
}
.explore-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
    margin-bottom: 1rem;
    border-top: 1px solid rgb(104, 98, 98);
}
.explore-services h4{
    padding: 1rem 0;
}
.other-services-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 3rem;
    height: 100%;
    width: 100%;
}
.other-services-content__detail{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.other-services-image{
    width: 90%;
    height: 200px;
    overflow: hidden;
    background-color: #514d4d;
}
.other-services-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.other-services-text{
    width: 90%;
    padding: 1rem 0;
    font-family: var(--font-family);
}
.other-services-text h4{
    padding-bottom: 2rem;
}
.other-services-text h4 a{
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font-family);
}
.other-services-text h4:hover a{
    cursor: pointer;
    color: var(--color-link);
}
.other-services-text article{
    font-family: var(--font-family);
}



/* MEDIA QUERIES */
@media screen and (max-width: 1084px){
    /* SERVICES PAGE */
    .services-content{
        display: flex;
        padding: 1rem;
    }
    .service-options-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0;
    }
    .service-options-container:nth-child(2),
    .service-options-container:nth-child(4),
    .service-options-container:nth-child(6){
        flex-direction: column;
    }
    .service-options-container,
    .service-option__content,
    .service-option__image{
        width: 90%;
    }
    .hm-media-intro__content-text{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .details{
        margin-bottom: 2rem;
    }
    .hm-agriculture-industry__themes-content{
        flex-direction: column;
    }
    .hm-agriculture-industry__themes-content-text{
        margin: 1rem 0;
        width: 90%;
    }
    .hm-management-intro__text p,
    .hm-education-intro__text p,
    .hm-travel-intro__text p,
    .hm-cntr-intro__text p{
        width: 100%;
    }
    .hm-management-options-container,
    .hm-education-options-container,
    .hm-travel-options-container,
    .hm-cntr-options-container{
        flex-direction: column;
        width: 90%;
    }
    .hm-management-options-container:nth-child(2),
    .hm-management-options-container:nth-child(4),
    .hm-education-options-container:nth-child(2),
    .hm-education-options-container:nth-child(4),
    .hm-travel-options-container:nth-child(2),
    .hm-cntr-options-container:nth-child(2){
        flex-direction: column;
    }
    .hm-management-option__image,
    .hm-education-option__image,
    .hm-travel-option__image,
    .hm-cntr-option__image{
        width: 100%;
    }
    .hm-management-option__content,
    .hm-education-option__content,
    .hm-travel-option__content,
    .hm-cntr-option__content{
        width: 100%;
        padding: 1rem 1.5rem;
    }
    .other-services-image{
        width: 100%;
        height: 200px;
    }
    .explore-services{
        padding: 0 5rem;
    }
}
@media screen and (max-width: 900px){
    .other-services-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .other-services-content__detail{
        margin: 0;
        margin-bottom: 1rem;
        box-shadow: 0px 16px 32px -1px rgba(5,28,44,.2), 0px 0px 1px 0px rgba(5,28,44,.15);
    }
}
@media screen and (max-width: 768px){
    .hm-management-content,
    .hm-education-content,
    .hm-travel-content,
    .hm-cntr-content{
        padding: 0;
        width: 100%;
    }
    .hm-management-options-container,
    .hm-education-options-container,
    .hm-travel-options-container,
    .hm-cntr-options-container{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .hm-management-title,
    .hm-education-title,
    .hm-travel-title,
    .hm-cntr-title {
        height: 300px;
    }
    .hm-management-title h4,
    .hm-education-title h4,
    .hm-travel-title h4,
    .hm-cntr-title h4{
        padding-left: 1rem;
        padding-top: 90px;
    }
    .hm-management-title p,
    .hm-education-title p,
    .hm-travel-title p,
    .hm-cntr-title p {
        padding: 2rem 1rem;
    }
    .hm-management-intro,
    .hm-education-intro,
    .hm-travel-intro,
    .hm-cntr-intro{
        margin: 0;
    }
    .hm-management-intro__text, 
    .hm-education-intro__text, 
    .hm-travel-intro__text, 
    .hm-cntr-intro__text {
        padding: 1rem;
    }
    .hm-management-option__content__list ul,
    .hm-education-option__content__list ul,
    .hm-travel-option__content__list ul,
    .hm-cntr-option__content__list ul{
        padding-left: 2rem;
    }
    .hm-education-wu__content{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .explore-services{
        padding: 0 2rem;
    }
    .other-services-content{
        padding: 1rem 0;
    }
}